<div class='task_container'>
  <mat-action-list class='task_container__task_list'>
    <mat-list-item *ngFor='let task of (tasks$ | async)' (click)=toggleTaskComplete(task)>
      <mat-checkbox [checked]='task.complete' [disabled]='true'></mat-checkbox>
      <span class='task_container__task_name'>{{ task.name }}</span>
      <button class='task_container__task_delete_icon' mat-button (click)='deleteTask($event, task)'>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-action-list>
</div>
<button class='add_task_btn' mat-fab color="primary" aria-label="Add task" (click)='addTask()'>
  <mat-icon>add</mat-icon>
</button>