.task_container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.task_container__task_list {
  padding-left: 75px;
  padding-right: 75px;
}

:host ::ng-deep .task_container__task_list .mat-list-text {
  flex-direction: row !important;
}

.task_container__task_name {
  flex: 1;
}

.task_container__task_delete_icon {
  line-height: inherit;
}

.add_task_btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
