.task_list {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.task_list__add_task_input {
  flex: 1;
}

:host ::ng-deep .task_container__task_list .mat-list-text {
  flex-direction: row !important;
}

.task_container__task_name {
  padding-left: 5px;
  flex: 1;
}

.task_container__task_icon {
  line-height: inherit;
}

.loading_spinner {
  position: relative;
  margin-top: calc(50vh - 100px);
  margin-left: 50%;
  margin-right: 50%;
}