
<mat-list *ngIf='user$ | async as user'>
  <mat-list-item>
    <h2>Profile</h2>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><span><b>User ID:</b> {{ user.userId }}</span></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><span><b>User Details:</b> {{ user.userDetails }}</span></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><span><b>Identity Provider:</b> {{ user.identityProvider }}</span></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <b>Roles:</b>
    <mat-chip-list class='role_chips' aria-label="roles">
      <mat-chip *ngFor='let role of user.userRoles'>{{ role }}</mat-chip>
    </mat-chip-list>
  </mat-list-item>
</mat-list>
