<div *ngIf='isAuthenticated$ | async'>
  <button mat-button [matMenuTriggerFor]='menu'>
    <mat-icon aria-hidden='false' aria-label='person'>person</mat-icon>
    <span class='display_name'>{{ userDisplayName$ | async }}</span>
    <mat-icon aria-hidden='false' aria-label='arrow_drop_Down'>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu='matMenu'  xPosition="before">
    <button mat-menu-item (click)=openProfile()>Profile</button>
    <button mat-menu-item (click)=logout()>Logout</button>
  </mat-menu>
</div>